</div>
</div>
<br>
<p style="text-align: center;">LTTN.PY © 2020 Được phát triển bởi Tô Thành Đạt.</p>
<br>
<script src="./assets/js/jquery/jquery.min.js"></script>
<script>var nv_base_siteurl="/",nv_lang_data="vi",nv_lang_interface="vi",nv_name_variable="nv",nv_fc_variable="op",nv_lang_variable="language",nv_module_name="test",nv_func_name="main",nv_is_user=0, nv_my_ofs=7,nv_my_abbr="+07",nv_cookie_prefix="nv4c_b44pg",nv_check_pass_mstime=28738000,nv_area_admin=0,nv_safemode=0,theme_responsive=1,nv_is_recaptcha=1,nv_recaptcha_sitekey="6LcSmbIUAAAAAIfhJ-RoInWshPmi8L50Y6Rvuxhb",nv_recaptcha_type="image",nv_recaptcha_elements=[];</script>
<script src="./assets/js/language/vi.js"></script>
<script src="./assets/js/global.js"></script>
<script src="./themes/default/js/test.js"></script>
<script src="./themes/raodn/js/main.js"></script>

<script type="text/javascript" data-show="after">
    $(function() {
        checkWidthMenu();
        $(window).resize(checkWidthMenu);
    });
</script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js?t=16">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.js"></script>
<script src="../lttnpy_core/scripts/moment.min.js" type="text/javascript"></script>
<script src="../lttnpy_core/scripts/moment-with-locales.min.js" type="text/javascript"></script>


<script type="text/javascript" src="./themes/default/js/users.js"></script>
<script type="text/javascript"  charset="utf-8">
// Place this code snippet near the footer of your page before the close of the /body tag
// LEGAL NOTICE: The content of this website and all associated program code are protected under the Digital Millennium Copyright Act. Intentionally circumventing this code may constitute a violation of the DMCA.
</script>
<script src="./assets/js/jquery/jquery.cookie.js" type="text/javascript"></script>
<script src="./themes/raodn/js/jquery.sticky-kit.min.js"></script>
<script src="./assets/js/jquery/jquery.treeview.min.js" type="text/javascript"></script>

<script src="./themes/raodn/js/bootstrap.min.js"></script>
<script src="./assets/toastr/toastr.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" type="text/javascript"></script>


<script type="text/javascript" src="./themes/default/js/voting.js"></script>
<script id = "MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script id = "MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.5/es5/sre/mathmaps/en.min.js"></script>

</body>
</html>

<script>
    //Phân trang
    let page = $('#pagination').attr('_page')

    let btnContainer = document.getElementById("pagination");
    let btns = btnContainer.getElementsByClassName("page-item");
    console.log(btns.length)

    for (var i = 0; i < btns.length; i++) {
        
        btns[i].addEventListener("click", function() {
        
        let current = document.getElementsByClassName("active");

        // If there's no active class
        if (current.length > 0) {
        current[0].className = current[0].className.replace(" active", "");
        }

        // Add the active class to the current/clicked button
        this.className += " active";
        });
    }
    
    $(document).on('click', '#cannotLogin', function(e) {
        e.preventDefault();
        $("#email").addClass('notiLogin')
        $("#email").click(function(){
            $("#email").removeClass('notiLogin')
        })
    }) 
</script>