<!DOCTYPE html>
	<html lang="vi"></html>
	<head>
<title>Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH</title>
<link rel="shortcut icon" href="/uploads/ehutech.tech/favicon.png">
<link rel="canonical" href="https://luyenthihutech.com/vi/">
<link href="./assets/js/jquery/jquery.min.js">
<link href="./assets/js/language/vi.js">
<link href="./assets/js/global.js">
<link href="./themes/default/js/test.js">
<link href="./themes/raodn/js/main.js">
<link href="./assets/toastr/toastr.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.js">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="./themes/default/js/users.js">
<link href="https://code.jquery.com/jquery-1.12.4.min.js?t=16">
<link href="./assets/js/jquery/jquery.cookie.js">
<link href="./assets/js/jquery/jquery.treeview.min.js">
<link href="./themes/raodn/js/jquery.sticky-kit.min.js">
<link href="./themes/raodn/js/bootstrap.min.js">
<link href="./themes/default/js/voting.js">
<link rel="stylesheet" href="./assets/css/nvgfont.quicksand.500.vietnamese.unknown0.css">
<link rel="stylesheet" href="./assets/css/font-awesome.min.css">
<link rel="stylesheet" href="./assets/css/font-awesome.min.css">
<link rel="stylesheet" href="./themes/raodn/css/bootstrap.min.css">
<link rel="stylesheet" href="./themes/raodn/css/style.css">
<link rel="stylesheet" href="./themes/raodn/css/style.responsive.css">
<link rel="stylesheet" href="./themes/default/css/test.css">
<link rel="stylesheet" href="./assets/css/raodn.vi.1787.css">
<link rel="stylesheet" href="./themes/default/css/users.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.css" rel="stylesheet">
<link rel="stylesheet" href="./assets/js/jquery/jquery.treeview.css" type="text/css"/>
<style>
	#navigation233 a {
		background-color: transparent !important
	}

	#navigation .current, #navigation .current a {
		font-weight: bold
	}

	#navigation .current ul a {
		font-weight: normal
	}
</style>
	</head>
	<body>
	<noscript>
		<div class="alert alert-danger">Trình duyệt của bạn đã tắt chức năng hỗ trợ JavaScript.<br />Website chỉ làm việc khi bạn bật nó trở lại.<br />Để tham khảo cách bật JavaScript, hãy click chuột <a href="http://wiki.nukeviet.vn/support:browser:enable_javascript">vào đây</a>!</div>
	</noscript>
    <div class="body-bg">
	<div class="wraper">
		<header>
			<div class="container-fluid">
				<div id="header" class="row">
				    <div class="logo col-xs-24 col-sm-24 col-md-8">
                                                <div class="pull-right-min">
                        	<a title="Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH" href=""><img src="./uploads/ehutech.tech/banner_webtest_new.png" width="1500" height="204" alt="Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH" /></a>
                       	</div>
                            <h1 class="hidden"><a href="/vi/" title="Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH">Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH</a></h1>
                    </div>
                    <div class="col-xs-24 col-sm-24 col-md-16">
                    </div>
				</div>
			</div>
		</header>
		<nav class="second-nav" id="menusite">
			<div class="container-fluid">
				<div class="row">
                    <div class="bg box-shadow">
					<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-site-default">
            <span class="sr-only">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="menu-site-default">
        <ul class="nav navbar-nav">
            <li><a class="home" title="Trang nhất" href="/vi/"><em class="fa fa-lg fa-home">&nbsp;</em><span class="visible-xs-inline-block"> Trang nhất</span></a></li>
                        <li  class="dropdown" role="presentation"><a class="dropdown-toggle"  href="/vi/test/" role="button" aria-expanded="false" title="LUYỆN THI">  LUYỆN THI <strong class="caret">&nbsp;</strong>
                </a>  <ul class="dropdown-menu">
        <li
        class="dropdown-submenu">  <a href="/vi/test/toan-cao-cap/" title="Toán Cao Cấp">Toán Cao Cấp</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Đại Số Tuyến Tính">Đại Số Tuyến Tính</a> 
    </li>
    <li
        >  <a href="" title="Giải tích">Giải tích</a> 
    </li>
    <li
        >  <a href="" title="Xác Xuất Thống Kê">Xác Xuất Thống Kê</a> 
    </li>
</ul> 
    </li>
    <li
        >  <a href="" title="Tiếng Anh">Tiếng Anh</a> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="Đại Cương">Đại Cương</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Tư Tưởng Hồ Chí Minh">Tư Tưởng Hồ Chí Minh</a> 
    </li>
    <li
        >  <a href="" title="Tâm Lý Học">Tâm Lý Học</a>
    </li>
</ul> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="GDQP">GDQP</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="GDQP 1">GDQP 1</a>
    </li>
    <li
        >  <a href="" title="GDQP 2">GDQP 2</a> 
    </li>
</ul> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="Chuyên Ngành">Chuyên Ngành</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Công Nghệ Thông tin">Công Nghệ Thông tin</a> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="Quản Trị Kinh Doanh">Quản Trị Kinh Doanh</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Nghiệp Vụ Ngoại Thương">Nghiệp Vụ Ngoại Thương</a> 
    </li>
    <li
        >  <a href="" title="Quản Trị Kinh Doanh Quốc Tế">Quản Trị Kinh Doanh Quốc Tế</a> 
    </li>
</ul> 
    </li>
</ul> 
    </li>
</ul> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="THI THỬ">  THI THỬ</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="SINH VIÊN">  SINH VIÊN</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="TÀI LIỆU" onclick="this.target='_blank'">  TÀI LIỆU</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="TÌM KIẾM">  TÌM KIẾM</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="HƯỚNG DẪN LUYỆN THI">  HƯỚNG DẪN LUYỆN THI</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="email">  Xin chào: <%=infoUser.email%></a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="/logout" role="button" aria-expanded="false" title="email">  Đăng xuất</a> </li>
        </ul>
    </div>
</div>