<footer class="footer">
			<p >LTTN.PY © 2020 Được phát triển bởi Tô Thành Đạt.</p>
		</footer>
	</div>

	<script src="../dashboard/assets/js/app.js"></script>

	<!-- <script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script> -->
	<script src="../lttnpy_core/scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/select2.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/slick/slick.js" type="text/javascript" charset="utf-8"></script>
	<script src="../lttnpy_core/scripts/caret.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/emojiPicker.min.js"></script>
	<script src="../lttnpy_core/scripts/main.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/lodash.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/moment.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/toastr/toastr.min.js" type="text/javascript"></script>

	<script src="../lttnpy_core/scripts/moment-with-locales.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/quill.min.js"></script>
	<script src="../lttnpy_core/scripts/fullcalendar.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/jquery-ui-full.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/jquery.timepicker.min.js" type="text/javascript"></script>
	<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
	<script id = "MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<script id = "MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.0.5/es5/sre/mathmaps/en.min.js"></script>
	
</body>
</html>